<h1>Startsidan</h1>

<p>Detta är moment 3 i kursen DT208G - Programmering i Typescript. Uppgiften är byggd på Angular, 
    och det har varit mycket trevligt och smidigt att arbeta med detta ramverk. Då alla komponenter och
    olika delar för sidan är uppdelade så tydligt är det enkelt att hitta och navigera i alla filer.
    <br>
    <br>
    För att lösa uppgiften läste jag först igenom teorin och läsanvisningarna, sedan installerade jag Angular och
    startade ett nytt Angular-projekt. Därefter skapade jag komponenterna för de olika sidorna i terminalen i VS Code,
    </p>
    <ul>
        <li>Startsida (home)</li>
        <li>Bildgalleri (gallery)</li>
        <li>Konverterare</li>
    </ul>
 <p>Då detta var gjort fixade jag routingen till de olika sidorna i filen app.routes.ts och kollade så att 
    navieringen fungerade korrekt och kunde därefter skapa komponenten header där jag la in navigeringsmenyn, som stylades
    i scss-filen i den särskilda header-mappen. Även footer- och gallery-komponenten är stylad i sin specifika mapp, resten
    av layouten är fixad i bas-filen. <br>
    <br>
    För att skapa kod, komponenter och metoder för sidan har läsanvisningar och internet följts.  
